
.cartao__comunidade{
    width: 90vw;
    height: 36.125em;
    color: #fff;
    background: rgba(0, 0, 0, 0.16);
    border-radius: 8px;
}
.cartao__cor{
    width: 100%;
    height: 25.125em;
    background: #5F75E2;
    border-radius: 8px;    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cartao__cor--fundo{
    width: 85%;
    height: 85%;
    background-image: url(../assets/icons/bolinhas.png);
    background-color: #141414;
    background-repeat: no-repeat;
    background-position: 1rem 1rem;
    background-size: 40px;
    background-attachment: local;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
    border-radius: 8px;
}
.cartao__conteudo{
    width: 100%;
    height: 30%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 20px;
    box-sizing: border-box;
}
.projeto__titulo{
    font-size: 21px;
    font-weight: 700;
    grid-column: span 4;
}
.projeto__descricao{
    font-size: 16px;
    grid-column: span 4;
}
.projetos__curtidas:active{
    color:red;
}

.projeto__usuario{
    grid-column: span 2;
    display: flex;
    align-items: center;
}