.form{
    display: flex;
    flex-direction: column;
}
.meu__projeto{
    display: flex;
    flex-direction: column;
}
.personalizacao{
    margin-top: 1.5rem;
    padding: 0;
}

.option{
    background-color: #051D3B;
}
.personalizacao__cores{
    width: 17em;
    height: 4.5em;
    border: 1px solid #FFFFFF;
    background-color: #051D3B;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 0.5rem;
    margin-bottom: 0.5em;
    cursor: pointer;
}

.botao__salvar{
    width: 17em;
    height: 3.5em;
    background: #5081FB;
    font-size: 16px;
    line-height: 24px;
    border-radius: 8px;
    text-align: center;
    box-sizing: border-box;
    color:#051D3B;
    margin-top: 0.5rem;
}

.botao__salvar:hover{
    background: #7BA4FC;
    cursor: pointer;
}
.botao__salvar:active{
    background: #7BA4FC;
    border: 4px solid rgba(80, 129, 251, 0.72);
}

@media screen and (max-device-width: 1024px){
    .meu__projeto{
        width: 90vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .meu__projeto__title{
        align-self: flex-start;
    }
    .botao__salvar{
        width: 100%;
    }
    .personalizacao--tablet{
        display: flex;
        flex-direction: row;
        justify-content: space-between;     /* Orientação horizontal*/
        align-items: center;
    }
    
    .personalizacao{
        width: 90vw;
    }
    .personalizacao__linguagem,.personalizacao__cores{
        width: 48%;
        height: 3.5em;
    }
}

@media screen and (max-device-width: 767px ){
    .personalizacao--tablet{
        display: flex;
        flex-direction: column;
    }
    .personalizacao__cores{
        width: 100%;
        height: 3.5em;
    }
}
.failure{
    color: darkred;
    background-color: darkorange;
    border-radius: 5px;
}
.sucsses{
    color: darkolivegreen;
    background-color: darkseagreen;
    border-radius: 5px;
}