.cabecalho{
    min-width: 50px;
    min-height: 50px;    
    display: grid;
    grid-template-columns: 0.75fr 2fr 0.75fr;
    gap: 25px;
    padding: 16px;
    align-items: center;
}

.logo__alura{
    width: 9.0625rem;
}

.barra__busca {
    height: 3.5rem;
    border-radius: 8px;
    opacity: 0.64;
    border: none;
    background-color:  var(--input);
    padding-left: 0.875rem;
}
.barra__busca:hover{
    background-color:  var(--input-hover);
}

.botao__busca--phone, .menu__mobile{
    display: none;
}

.barra__busca--phone--ativo{
    display: static;
    width: 90%;
}

.button__usuario{
    width: 6.625rem;
    height: 3.5rem;
    border: none;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-self: flex-end;
}
.button__usuario:hover{
    background: rgba(255, 255, 255, 0.08);
    cursor: pointer;
}
.botoes__mobile{
    display: none;
}

@media screen and (max-device-width: 1023px ){
    .cabecalho{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .botoes__mobile{
        display: inline;
    }

    .button__usuario{
        display: none;
    }
    .barra__busca{
       width: 26.9375em;
    }

    .menu__mobile{
        display: inline;
        width: 3rem;
        height: 3rem;
        font-size: 1.3rem;
        cursor: pointer;
        border-radius: 16px;
    }
    .menu__mobile:hover{
        background: rgba(80, 129, 251, 0.08);
    }
    .menu__mobile:active{
        background: rgba(80, 129, 251, 0.16);
    }
}

/* smartphone */
@media screen  and (max-device-width: 767px){
    .barra__busca{
        display: none;
    }

    .barra__busca--bar{
        display: inline-block;
        width: 90%;
    }
    
    .botao__busca--phone{
        display: inline-block;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        border-radius: 16px;
    }
    .botao__busca--phone:hover{
        background: rgba(80, 129, 251, 0.08);
    }
    .botao__busca--phone:active{
        background: rgba(80, 129, 251, 0.16);
    }
}