
.cabecalho{
    display: grid;
    grid-template-columns: 0.75fr 2fr 1fr;
    height: 56px;
    margin: 32px 0;
}

.logo__alura{
    width: 145px;
    margin-left: 32px;
    align-self: center;
    display: block;
}

.barra__busca, .barra__busca--bar {
    width: 752px;
    height: 56px;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    padding-left: 14px;
    opacity: 0.64;
    color: #ffffff;
    border: none;
    background-color:  rgba(255, 255, 255, 0.16);
    align-content: flex-start;
    margin-left: 10px;
}

.botao__busca--phone, .menu__mobile{
    display: none;
}

.barra__busca--phone--ativo{
    display: static;
    width: 90%;
}

.barra__busca:hover{
    background-color:  rgba(255, 255, 255, 0.24);
}

.button__usuario{
    width: 106px;
    background-color: #051d3b;
    border: none;
    border-radius: 8px;
    padding: 12px;
    display: flex;
    margin-right: 32px;
    justify-self: flex-end;
}
.button__usuario:hover{
    background: rgba(255, 255, 255, 0.08);
    cursor: pointer;
}

.foto__perfil{
    width: 32px;
    height: 32px;
}

.login__name{
    color: #ffffff;  
    font-size: 16px;
    line-height: 24px;
    font-family: 'Inter';
    margin-left: 8px;
}

@media screen and (max-device-width: 1024px ){
    .cabecalho{
        width: 87vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo__alura{
        margin: 0;
    }

    .button__usuario{
        display: none;
    }
    .barra__busca{
        width: 26.9375em;
        margin: 0;
    }

    .menu__mobile{
        display: inline;
        width: 48px;
        height: 48px;
        font-size: 1.3rem;
        color:#FFFFFF;
        cursor: pointer;
        box-sizing: border-box;
    }
    .menu__mobile:hover{
        background: rgba(80, 129, 251, 0.08);
        border-radius: 16px;
    }
    .menu__mobile:active{
        background: rgba(80, 129, 251, 0.16);
        border-radius: 16px;
    }
}

.hide{
    display: none;
}
/* smartphone */
@media screen  and (max-device-width: 767px){
    .barra__busca{
        display: none;
    }

    .barra__busca--bar{
        display: inline-block;
        width: 90%;
        height: 56px;
        border-radius: 8px;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        padding-left: 14px;
        opacity: 0.64;
        background-color:  rgba(255, 255, 255, 0.16);
        color: #ffffff;
        border: none;
    }
    
    .botao__busca--phone{
        display: inline-block;
        width: 48px;
        height: 48px;
        font-size: 1.3rem;
        color:#FFFFFF;
        cursor: pointer;
        box-sizing: border-box;
    }
    .botao__busca--phone:hover{
        background: rgba(80, 129, 251, 0.08);
        border-radius: 16px;
    }
    .botao__busca--phone:active{
        background: rgba(80, 129, 251, 0.16);
        border-radius: 16px;
    }
}