.input{
    width: 17em;
    height: 3.5rem;
    opacity: 0.64;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.16);
    padding: 0.87em ;
    margin-bottom: 1em;
    box-sizing: border-box;
    cursor: pointer;
}
.input:hover{
    background: rgba(255, 255, 255, 0.24);
}

.input-description{
    min-height: 5rem;
    resize: none;
    outline: none;
}

@media screen and (max-device-width: 1024px){
    .input{
        width: 100%;
    }
    .input-personalizacao{
        max-width: 50%;
    }
}
@media screen and (max-device-width: 767px ){
    .input-personalizacao{
        max-width: 100%;
    }
}