.menu__lateral{
    height: 100vh;
    padding:0 32px;
    display: flex;
    flex-direction: column;
}
.menu__lateral__title{
font-size: 12px;
line-height: 18px;
letter-spacing: 0.4em;
text-transform: uppercase;
color: #FFFFFF;
align-self: flex-start;
margin-bottom: 2rem;
}

.menu__lateral__link{
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 0.75rem;
    opacity: 56%;
}
.menu__lateral__link:hover{
    opacity: 72%;
}
.menu__lateral__link--ativo{
    opacity: 100%;
}
.menu__lateral__link i{
    background: #5081FB29;
    padding: 1rem 0.8rem;
    border-radius: 16px;
    margin-right: 1rem;
    
}
.menu__lateral__link i:hover{
    background: #5081FBA3;
}

.menu__lateral__link--ativo i{
    background-color: #5081FB;
}

.menu__lateral__mobile-ativo{
    width: 15.875rem;
    height: 100vh;
    background: #2D415B;
    border-radius: 8px;
    display: flex;
    flex-direction: column;  
    position: absolute;
    padding: 2%;
    box-sizing: border-box;
    right: 2vw;
}

.botao__menu__mobile{
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}

.botao__menu__mobile--usuario{
    display: flex;
    margin:0;
    align-self: flex-start;
    background: #2D415B;
}

.botao__menu__mobile--secao{
    border-bottom: 1px solid rgb(255, 255, 255, 8%);
}

@media screen and (max-device-width: 1024px) {
    .menu__lateral{
        display: none;
    }
}