*{
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #051d3b;
}
.principal{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.campo__principal{
    display: flex;
    flex-direction: column;
}

.campo__janela{
    width: 47em;
    height: 366px;
    background: #6BD1FF;
    border-radius: 8px;
    padding: 32px;
    box-sizing: border-box;
}

.textarea{
    background-image: url(../assets/icons/bolinhas.png);
    background-color: #141414;
    background-repeat: no-repeat;
    background-position: 1rem 1rem;
    background-size: 40px;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
    border-radius: 8px;
    width: 688px;
    height: 302px;
    display: flex;
    align-content: space-around;
    margin: auto;
    border: none;
    padding: 2rem 1rem;
    box-sizing: border-box;
    resize: none;
    outline: none;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
}

.botao__visualizar{
    width: 47em;
    height: 3.7em;
    background: rgba(80, 129, 251, 0.08);
    color: #fff;
    border-radius: 8px;
    margin-top: 3rem;
    cursor: pointer;
}
.botao__visualizar:hover{
    background: rgba(80, 129, 251, 0.16);
}
.botao__visualizar:active{
    background: rgba(80, 129, 251, 0.16);
    border: 4px solid rgba(80, 129, 251, 0.24); 
}
.botao__visualizar:focus{
    background: rgba(80, 129, 251, 0.24);
}

@media screen and (max-device-width: 1024px){
    body{
        padding: 0 32px;
    }
    .principal{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .campo__janela{
        width: 704px;
        
    }
    .textarea{
        width: 640px;
    }
    .botao__visualizar{
        width: 704px;
    }
}

@media screen and (max-device-width: 768px ){
    body{
        padding: 20px;
    }

    .campo__janela{
        width: 343px;
    }
    .textarea{
        width: 279px;
    }
    .botao__visualizar{
        width: 343px;
    }
}
