/assets/fontawesome-free-5.15.4-web/js
fontawesome-free-5.15.4-web/webfontes
fontawesome-free-5.15.4-web/metadata
fontawesome-free-5.15.4-web/scss
fontawesome-free-5.15.4-web/sprites
fontawesome-free-5.15.4-web/svgs
fontawesome-free-5.15.4-web/less
