/assets/fontawesome-free-5.15.4-web/js
/assets/fontawesome-free-5.15.4-web/less
/assets/fontawesome-free-5.15.4-web/metadata
/assets/fontawesome-free-5.15.4-web/scss
/assets/fontawesome-free-5.15.4-web/sprites
/assets/fontawesome-free-5.15.4-web/svgs
/assets/fontawesome-free-5.15.4-web/webfontes
